.Cocacola{
    background-color: rgba(127, 57, 184, 0.438);
    text-align: center;
}

h2{
    color: rgba(0, 32, 128, 0.596);
}

p{
    font-size:10px;
    text-align: center;
}

h4{
    color: rgba(0, 0, 0, 0.596);
}


